<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--1.开启组件扫描-->

    <!--    <context:component-scan base-package="com.platform" use-default-filters="false">
            <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        </context:component-scan>-->
    <context:component-scan base-package="com.platform.backend.controller"/>
    <context:component-scan base-package="com.platform.developer.controller"/>
    <context:component-scan base-package="com.platform.controller"/>
<!--    <context:component-scan base-package="com.platform"/>-->

    <!--开启注解驱动-->
    <mvc:annotation-driven>
        <!--用于解决中文请求参数乱码-->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--配置jackson适配器-->
    <bean id="adapter" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <!--开启静态资源访问权限-->
    <mvc:default-servlet-handler/>
    <!--配置内部视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--配置拦截器类-->
            <mvc:mapping path="/backend/**"/>
            <mvc:mapping path="/developer/**"/>
            <!--定义放行路径-->
            <mvc:exclude-mapping path="/backend/toFZT.do"/>
            <mvc:exclude-mapping path="/backend/403.jsp"/>
            <mvc:exclude-mapping path="/backend/login.do"/>
            <mvc:exclude-mapping path="/backend/backendLogin.do"/>
            <mvc:exclude-mapping path="/developer/developerLogin.do"/>
            <mvc:exclude-mapping path="/developer/devLogin.do"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/statics/**"/>
            <mvc:exclude-mapping path="/uploadfiles/**"/>
            <!--配置拦截器类-->
            <bean class="com.platform.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--配置文件上传解析器-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <!--配置文件上传的默认编码格式-->
        <property name="defaultEncoding" value="utf-8"/>
        <!--显示文件上传的大小 在50k-->
        <property name="maxUploadSize" value="#{1024*1024*5}"/>
    </bean>
</beans>