<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.backend.mapper.AppVersionMapper">

    <resultMap id="AppVersionResultMap" type="appVersion">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="appId" column="appId" jdbcType="BIGINT"/>
        <result property="versionNo" column="versionNo" jdbcType="VARCHAR"/>
        <result property="versionInfo" column="versionInfo" jdbcType="VARCHAR"/>
        <result property="publishStatus" column="publishStatus" jdbcType="BIGINT"/>
        <result property="downloadLink" column="downloadLink" jdbcType="VARCHAR"/>
        <result property="versionSize" column="versionSize" jdbcType="DECIMAL"/>
        <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
        <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
        <result property="modifyBy" column="modifyBy" jdbcType="BIGINT"/>
        <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
        <result property="apkLocPath" column="apkLocPath" jdbcType="VARCHAR"/>
        <result property="apkFileName" column="apkFileName" jdbcType="VARCHAR"/>
        <result property="devStatus" column="devStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="AppVersion_Column_List">
        id,appId,versionNo,
        versionInfo,publishStatus,downloadLink,
        versionSize,createdBy,creationDate,
        modifyBy,modifyDate,apkLocPath,
        apkFileName
    </sql>


    <select id="selectAppVersionByVersionId" resultMap="AppVersionResultMap" parameterType="long">
        select
        <include refid="AppVersion_Column_List"/>
        from t_app_version where id=#{versionId} and devStatus = 0;
    </select>

    <update id="updateAppVersionByAppId" parameterType="map">
        update t_app_version ver
        <set>
            <if test="appVersion.versionInfo!=null and appVersion.versionInfo!=''">
                ver.versionInfo =#{appVersion.versionInfo},
            </if>
            <if test="appVersion.versionSize!=null and appVersion.versionSize!=''">
                ver.versionSize = #{appVersion.versionSize}
            </if>
        </set>
        <where>
            <if test="appVersion.appId!=null and appVersion.appId!=''">
                ver.appId = #{appVersion.appId};
            </if>
        </where>
    </update>
    <insert id="insertAppVersion" parameterType="appVersion">
        insert into t_app_version (id, appId, versionNo, versionInfo, publishStatus, downloadLink, versionSize,
                                   createdBy,
                                   creationDate, modifyBy, modifyDate, apkLocPath, apkFileName)
        values (null, #{appVersion.appId}, #{appVersion.versionNo}, #{appVersion.versionInfo},
                #{appVersion.publishStatus},
                #{appVersion.downloadLink}, #{appVersion.versionSize}, #{appVersion.createdBy},
                #{appVersion.creationDate}, #{appVersion.modifyBy}, #{appVersion.modifyDate},
                #{appVersion.apkLocPath}, #{appVersion.apkFileName});
    </insert>
    <select id="selectAppVersionByAppId" resultMap="AppVersionResultMap" parameterType="long">
        select ver.id,
               ver.appId,
               app.software_name as appName,
               ver.versionNo,
               ver.versionInfo,
               ver.publishStatus,
               dic.value_name    as publishStatusName,
               ver.downloadLink,
               ver.versionSize,
               ver.createdBy,
               ver.creationDate,
               ver.modifyBy,
               ver.modifyDate,
               ver.apkLocPath,
               ver.apkFileName
        from t_data_dictionary dic,
             t_app_version ver
                 join t_app_info app on ver.appId = app.id
        where dic.type_code = 'PUBLISH_STATUS'
          and ver.devStatus = 0
          and dic.value_id = ver.publishStatus
          and ver.appId = #{appId}
    </select>
    <select id="selectAppVersionListByAppId" resultMap="AppVersionResultMap">
        select
        <include refid="AppVersion_Column_List"/>
        from t_app_version where appId=#{appId} and devStatus = 0;
    </select>
    <update id="deleteApk" parameterType="long">
        update t_app_version
        set apkLocPath = null,
            apkFileName=null
        where appId = #{appId};
    </update>
    <update id="updateAppVersion" parameterType="appVersion">
        update t_app_version
        <set>
            <if test="appVersion.appId!=null and appVersion.appId!=''">
                appId=#{appVersion.appId},
            </if>
            <if test="appVersion.versionNo!=null and appVersion.versionNo!=''">
                versionNo=#{appVersion.versionNo},
            </if>
            <if test="appVersion.versionInfo!=null and appVersion.versionInfo!=''">
                versionInfo=#{appVersion.versionInfo},
            </if>
            <if test="appVersion.publishStatus!=null and appVersion.publishStatus!=''">
                publishStatus=#{appVersion.publishStatus},
            </if>
            <if test="appVersion.downloadLink!=null and appVersion.downloadLink!=''">
                downloadLink=#{appVersion.downloadLink},
            </if>
            <if test="appVersion.versionSize!=null and appVersion.versionSize!=''">
                versionSize=#{appVersion.versionSize},
            </if>
            <if test="appVersion.createdBy!=null and appVersion.createdBy!=''">
                createdBy=#{appVersion.createdBy},
            </if>
            <if test="appVersion.creationDate!=null">
                creationDate=#{appVersion.creationDate},
            </if>
            <if test="appVersion.modifyBy!=null and appVersion.modifyBy!=''">
                modifyBy=#{appVersion.modifyBy},
            </if>
            <if test="appVersion.modifyDate!=null">
                modifyDate=#{appVersion.modifyDate},
            </if>
            <if test="appVersion.apkLocPath!=null and appVersion.apkLocPath!=''">
                apkLocPath=#{appVersion.apkLocPath},
            </if>
            <if test="appVersion.apkFileName!=null and appVersion.apkFileName!=''">
                apkFileName=#{appVersion.apkFileName},
            </if>
        </set>
        where id=#{appVersion.id};
    </update>
    <update id="deleteAppVersionByAppInfoId">
        update t_app_version
        set devStatus = 1
        where appId = #{appInfoId};
    </update>
</mapper>
